select {
  background: var(--primary);
  outline: none;
  border: none;
  color: var(--color);
  padding: 8px;
  font-weight: bold;
  width: 100%;
}

input[type=text] {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: var(--color);
  border-bottom: 1px solid var(--primary);
  padding: 4px;
}

input[type=text]:focus {
  border-bottom-color: var(--secondary);
}

input[type=text]:disabled {
  border-bottom: 1px solid #555;
}
