/* Iridium CSS (WIP) */


/* Classic */
:root {
  --background: #121212;
  --color: #fefefe;
  --elevated: #181818;
  --primary: #9200d6;
  --on-primary: #fff;
  --secondary: #03DAC6;
  --hover-shade: rgba(255,255,255,0.1);
}

/* Nightfall */
:root {
  --background: #06090F;
  --color: #fefefe;
  --elevated: #0D1117;
  --primary: #192b2e;
  --on-primary: #fff;
  --secondary: #b44;
  --hover-shade: rgba(255,255,255,0.1);
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: var(--background);
  color: var(--color);
  height: 100%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}


.ir-flex-row {
  display: flex;
  flex-flow: row wrap;
}

.ir-flex {
  flex: 1;
}

.tablinks a {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
}

.tablinks a:hover {
  border-bottom: 2px solid var(--secondary);
}

.tablinks a.active {
  border-bottom: 2px solid var(--secondary);
}

.tab {
  display: none;
  padding: 6px 12px;
}

.ir-button {
    background: var(--elevated);
  color: var(--color);
  outline: none;
  border: none;
  border-radius: 2px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  transition: 0.2s;
  cursor: pointer;
}

.ir-button:active {
  background: var(--primary);
  color: var(--on-primary);
}

.ir-input {
  background: var(--background);
  outline: none;
  border: 2px solid #000;
  border-radius: 2px;
  color: var(--color);
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  transition: border-color 0.2s;
}

.ir-input:focus {
  border: 2px solid var(--secondary);
}

.ir-input.err {
  border: 2px solid #f00;
}

.ir-select {
  background: #242424;
  outline: none;
  border-radius: 2px;
  color: #fff;
  padding: 12px 20px;
  margin: 8px 0;
}

.ir-margin {
  margin: 8px;
}

.ir-maxwidth {
  width: 100%;
}

.ir-faded-text {
  color: rgba(255,255,255,0.4);
}

/* A h6 element used for hints */
.ir-hint-text {
  margin: 0;
}
