#About a, .changelog a {
  text-decoration: none;
  color: var(--secondary);
}

header {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color: var(--elevated);
  grid-area: titlebar;
	overflow: hidden;
	display: flex;
	white-space: nowrap;
	height: 26px;
}

.title {
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--primary);
  color: var(--on-primary);
}

/* Menu */

.menu {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-app-region: no-drag;
}

.menu a {
  float: left;
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 2px 8px;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropbtn:hover {
  background-color: var(--hover-shade);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--elevated);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 4px 0;
}

.dropdown-content a {
  float: none;
  color: var(--color);
  padding: 2px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--hover-shade);
}

.dropdown-content a.disabled {
  color: #555;
  background-color: transparent;
  cursor: not-allowed;
}

/* Window controls */

.win-menu {
  display: flex;
  margin-left: auto;
  -webkit-app-region: no-drag;
}
.win-menu div {
  padding: 2px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}
.win-menu div:hover {
  background-color: var(--hover-shade);
}
.win-menu div.close:hover {
  background-color: #f22;
}

/* Start Screen */

.start-screen {
  width: 100%;
  height: 100%;
}

.start-screen .card {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 60%;
  min-height: 60%;
  max-width: 80%;
  max-height: 80%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: var(--elevated);
}

.start-screen .card .actions {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 12px;
  left: 0;
}

.start-screen .card .actions .padding {
  padding: 8px;
}

.start-screen .card .actions .padding h1 {
  margin: 0;
}

.start-screen .card .actions .padding .list a {
  padding: 8px;
  border-radius: 8px;
  display: block;
  cursor: pointer;
  transition: background 0.4s;
}

.start-screen .card .actions .padding .list a * {
  margin: 4px;
}

.start-screen .card .actions .padding .list a:hover {
  background-color: var(--hover-shade);
}

.start-screen .card .actions .padding .list a.disabled {
  color: #555;
  background-color: transparent;
  cursor: not-allowed;
}

.start-screen .card .recent {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 12px;
  right: 0;
}

.start-screen .card .recent .padding {
  padding: 8px;
}

.start-screen .card .recent .padding h1 {
  margin: 0;
}

.start-screen .card .recent .padding .list a {
  padding: 8px;
  border-radius: 8px;
  display: block;
  cursor: pointer;
  overflow: hidden;
  overflow-wrap: break-word;
  transition: background 0.4s;
}

.start-screen .card .recent .padding .list a * {
  margin: 4px;
}

.start-screen .card .recent .padding .list a:hover {
  background-color: var(--hover-shade);
}


/* Welcome screen */

.intro {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--elevated);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: height 0.4s;
  height: 50%;
  padding-left: 8px;
  padding-right: 8px;
}

.intro button {
  outline: none;
  border: none;
  background: rgba(255,0,255,0.4);
  color: #fff;
  float: left;
  margin: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  transition: background 0.4s;
}

.fade-bg {
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  animation: fadein 0.4s linear;
}

.fade-bg.hide {
  display: none;
}

@keyframes fadein {
  from {display:block;opacity: 0;}
  to {display:block;opactiy: 1;}
}

.settings {
  background-color: var(--elevated);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  min-height: 60%;
  max-height: 80%;
  overflow-y: scroll;
  z-index: 10;
  transform: translate(-50%, -50%) scale(0);
  transition: .5s ease-in-out;
}

.settings.show {
  transform: translate(-50%, -50%) scale(1);
}

.settings h1 {
  padding: 8px;
}

.settings .ir-flex-row, .settings .ir-flex-row .ir-flex {
  margin: 8px;
}

#notifications {
  margin: 16px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 11;
  width: 250px;
  display: flex;
  flex-direction: column-reverse;
}

.notification {
  width: 100%;
  background-color: var(--primary);
  color: var(--on-primary);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin: 16px 0;
  padding: 8px;
  animation: slide-in 0.2s ease-in;
  transform-origin: bottom center;
  overflow-x: auto;
}

.notification.closing {
  animation: close-notification 1s ease-in;
}

@keyframes slide-in {
  from {opacity: 0;transform:scale(0)}
  to {opacity: 1;transform:scale(1)}
}

@keyframes close-notification {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    max-height: 200px;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}

#Keybindings .ir-flex-row div {
  width: 50%;
}

.changelog {
  background-color: #282828;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  min-height: 60%;
  max-height: 80%;
  overflow-y: scroll;
  z-index: 10;
  transform: translate(-50%, -50%) scale(0);
  transition: .5s ease-in-out;
}

.changelog.show {
  transform: translate(-50%, -50%) scale(1);
}
